body{
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
background-color: rgb(122, 125, 128);
}
#btnCnt{
width: 50%;
}
.btn_even:hover{
background-color: rgb(60, 104, 104);
color: aliceblue;
}
.btn{
border-radius: 10px;
width:40%;
/* background-color: blue; */
}
.btn_odd:hover{
color: aliceblue;
background-color: rgb(98, 98, 104);
}
#btnCnt {
display: flex;
justify-content: space-evenly;
}

#main {
text-align: center
}

#btnNext {
text-align: center;
width: 70px !important;

}

#content_hide,#result_hide {
display: none;
}
#result_display{
display: block;
}
span {
color: greenyellow;
}

@media only screen and (max-width: 600px) {
body {
font-size:15px;
background-color: lightblue;
}
#btnCnt{
width:auto
}
}